@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color-primary: #00aed6;
    --color-secondary: #ccecff;
    --color-sucess: #40eb87;
    --color-danger: #f54141;
    --color-dark: #1a273b;
    --color-black: #151b27;
    --color-white: #fff;
    --color-light: #f0eef6;
    --color-gray: #98a4b3;

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.5rem 2rem;
    --search-padding: 0.5rem 1rem;
    --card-padding: 1rem;

    --sticky-top:  -20rem;

    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background-color: var(--color-light);
    overflow-x: hidden;
}


/*==========GENERAL STYLES===============*/

.container{
    max-width: 80%;
    margin: 0 auto;
}

h3{
    font-size: 1rem;
}

p{
    font-size: 0.9rem;
    color: var(--color-dark);
}
img{
    width: 100%;
    display: block;
}

.profile-photo{
    width: calc(16px * 3);
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    border-radius: var(--border-radius);
    font-size: 0.9rem;
    font-family: inherit;
    background-color: var(--color-gray);
    font-weight: 500;
    transition: var(--transition);
    cursor: pointer;
    color: var(--color-white)
}

.btn:hover{
    opacity: 0.8;
}

.btn-primary{
    background-color: var(--color-primary);
}

.text-muted{
    color: var(--color-gray);
}


/*============NAV AREA==========*/

nav{
    background-color: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

nav .container{
    display: flex;
    justify-content: space-between;
    gap: 1rem ;
    align-items: center;
}

.search_bar{
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search_bar input[type="search"]{
    background-color: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
    font-family: inherit;
}

.search_bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

.create{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}




/*=========MAIN============*/

/*=========Profile================*/

main{
    margin-top: 5.5rem;
    position: relative;
}

main .container{
    display: grid;
    grid-template-columns: 20vw auto 20vw;
    gap: 2rem;
}

/*=======Profile============*/
main .container .left{
    position: sticky;
    top: 5.5rem;
    height: max-content;
}
main .container .left .profile{
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    gap: 1rem;
    padding: var(--card-padding);
}

main .container .left .sidebar{
    background-color: var(--color-white);
    margin-top: 1.5rem;
    border-radius: var(--card-border-radius);
}

main .container .left .sidebar ul li a{
    display: flex;
    gap: 1.2rem;
    height: 4rem;
    align-items: center;
    transition: var(--transition);
    padding-left: 2rem;
}

main .container .left .sidebar ul li a:hover{
    background-color: var(--color-light);
}

main .container .left .sidebar ul li a i{
    font-size: 1.4rem;
    color: var(--color-gray);
    position: relative;

}

main .container .left .sidebar ul li a i .count {
    width: fit-content;
    color: var(--color-white);
    background-color: var(--color-danger);
    border-radius:0.8rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14px;
    right: -12px;
    padding: 0.1rem 0.4rem;
}

.sidebar-btn{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}



/*===========MIDDLE===========*/

main .middle .stories{
    display: flex;
    gap: 1rem;
    height: 12rem;
}

main .middle .story{
    background-image: url(images/feed-6.jpg);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color:var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    font-size: 0.7rem;
    color: var(--color-white);
    width: 100%;

}

main .middle .story:nth-child(2){
    background-image: url(images/feed-7.jpg);
}
main .middle .story:nth-child(3){
    background-image: url(images/feed-8.jpg);
}
main .middle .story:nth-child(5){
    background-image: url(images/feed-9.jpg);
}
main .middle .story:nth-child(6){
    background-image: url(images/feed-10.jpg);
}

main .middle .story::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-image: linear-gradient(transparent, rgba(0 0 0 / 0.8));
}

main .middle .story .name{
   z-index: 2;
}

main .middle .story .profile-photo{
 margin-right: auto;
}


main .middle .story .profile-photo{
    width: 2rem;
    aspect-ratio: 1/1;
    border: 3px solid var(--color-primary);
    
}



/*===================Create Post====================*/

.create-post{
    background-color: var(--color-white);
    padding: 0.4rem 1rem;
    border-radius: var(--border-radius);
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.create-post .profile-photo{
    width: 36px;
}

.create-post input[type="text"]{
    font-family: inherit;
    color: var(--color-dark);
    padding: 0.9rem;
    margin-right: 1rem;
}

.create-post input[type="submit"]{
    margin-left: auto;
}


/*====================FEED SECTION START======================*/

.feeds{
    margin-top: 1.5rem;
}

.feed{
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    font-size: 0.86rem;
    line-height: 1.5;
}

.feed .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed .user{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.feed .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.feed .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.feed .liked{
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
}

.feed .liked span{
    width: 1.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--color-white);
    overflow: hidden;
    margin-left: -0.6rem;
}

.feed .liked span:first-child{
    margin: 0;
}

.feed .liked p{
    margin-left: 0.8rem ;
} 

.feed .hashtag{
    color: var(--color-primary);
}


/*=============end middle content==============*/


/*==================START RIGHT=================*/

.right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top);
}

.right .messages{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
}

.right .messages i{
    font-size: 1.4rem;
}

.right .messages .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.right .messages .search_bar{
    display: flex;
    margin-bottom: 0.8rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between; 
}

.right .messages .category  h6{
    font-size: 0.85rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    border-bottom: 4px solid var(--color-light);
}

.right .messages .category .active{
    border-color: var(--color-dark);
}

.right .messages .message{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 1rem;
}

.right .messages .message h6{
    font-size: 0.84rem;
}

.right .messages .message p{
    font-size: 0.83rem;
}

/*==================END RIGHT=================*/


/*================START FRIENT REQUESTS==============*/

.right .friend-requests{
    margin-top: 1.4rem;
}

.right .friend-requests > h4{
    color: var(--color-gray);
}

.right .friend-requests .request{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
}

.right .friend-requests .request .info{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.4rem;
}

.right .friend-requests .request .action{
    display: flex;
    gap: 1rem;
    align-items: center;
}















